<div class="pogo-year-selector pogo-picker-selector" [hidden]="showYearSelector">
    <div class="pogo-year-selector-close-btn" (click)="onClose()">
      <i class="fa fa-times"></i>
    </div>
    <div
      (click)="getPrevPage()"
      class="pogo-picker-nav-btn pogo-picker-nav-btn-left">
      <i class="pogo-picker-icon pogo-picker-arrow-left"></i>
    </div>
    <div
      (click)="getNextPage()"
      class="pogo-picker-nav-btn pogo-picker-nav-btn-right">
      <i class="pogo-picker-icon pogo-picker-arrow-right"></i>
    </div>
    <ul>
      <li *ngFor="let year of years" (click)="selectYear(year)">
        {{ year }}
      </li>
    </ul>
  </div>
