@import './shared/pogo-date-picker.colors';
@import './shared/pogo-date-picker.global';

body {
  font-size: 1rem;
}

.pogo-picker {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  position: relative;
  font-family: "Museo";
  font-size: 12px;
  float: left;
  width: 250px;
  height: 100%;
  background-color: $white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pogo-picker-header {
  position: relative;
  color: $white;
  border: 1px solid $dark-gray;
  background: $dark-gray;
}

.pogo-picker-date {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}

.pogo-picker-day-names {
  padding: 5px 0 10px;
}

.pogo-picker-day-name {
  float: left;
  width: calc(100% / 7);
  text-align: center;
  color: $light-gray;
}

.pogo-picker-body {
  border: 1px solid $light-gray;
  border-top: none;
}

.pogo-picker-day-box {
  font-family: "Source Sans Pro", sans-serif;
  float: left;
  width: calc(100% / 7);
  padding: 6px 0;
  cursor: pointer;
  text-align: center;
  color: $devil-gray;
  background-color: $white-smoke;
  &.pogo-picker-highlighted {
    color: $black;
    background-color: $pogo-green;
  }
  &.pogo-picker-selected {
    color: $white;
    background-color: $pogo-blue;
  }
  &.pogo-picker-empty {
    text-indent: -999999px;
    background-color: $white;
    &:hover {
      cursor: default;
      background-color: $white;
    }
  }
  &:hover {
    color: $white;
    background-color: $devil-gray;
  }
}


