body {
  font-size: 1rem;
}

.pogo-picker {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  position: relative;
  font-family: "Museo";
  font-size: 12px;
  float: left;
  width: 250px;
  background-color: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pogo-picker-header {
  position: relative;
  color: #fff;
  border: 1px solid #222;
  background: #222;
}

.pogo-picker-date {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}

.pogo-picker-day-names {
  padding: 5px 0 10px;
}

.pogo-picker-day-name {
  float: left;
  width: calc(100% / 7);
  text-align: center;
  color: #eee;
}

.pogo-picker-body {
  border: 1px solid #ddd;
  border-top: none;
}

.pogo-picker-day-box {
  font-family: "Source Sans Pro", sans-serif;
  float: left;
  width: calc(100% / 7);
  padding: 6px 0;
  cursor: pointer;
  text-align: center;
  color: #666;
  background-color: #f5f5f5;
  &.pogo-picker-highlighted {
    color: #000;
    background-color: #96c93d;
  }
  &.pogo-picker-selected {
    color: #fff;
    background-color: #2985ff;
  }
  &.pogo-picker-empty {
    text-indent: -999999px;
    background-color: #fff;
    &:hover {
      cursor: default;
      background-color: #fff;
    }
  }
  &:hover {
    color: #fff;
    background-color: #666;
  }
}

.pogo-picker-nav-btn {
  position: absolute;
  top: 0;
  padding: 14px 11px;
  &.pogo-picker-nav-btn-left {
    left: 0;
  }
  &.pogo-picker-nav-btn-right {
    right: 0;
  }
  &:hover {
    cursor: pointer;
    .pogo-picker-icon {
      border-color: white;
    }
  }
}

.pogo-picker-icon {
  display: inline-block;
  padding: 3px;
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 0 3px 3px 0;
  &:hover {
    border-color: white;
  }
  &.pogo-picker-arrow-right {
    -webkit-transform: scale(0.9, 0.9) rotate(-45deg);
    transform: scale(0.9, 0.9) rotate(-45deg);
  }
  &.pogo-picker-arrow-left {
    -webkit-transform: scale(0.9, 0.9) rotate(135deg);
    transform: scale(0.9, 0.9) rotate(135deg);
  }

}

.pogo-picker-action {
  cursor: pointer
}

/***********/

.clear-fix {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}
