@import '../../shared/simple-date-picker.global';
.simple-picker-nav-btn {
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    cursor: pointer;
    .simple-picker-icon {
      border-color: $black;
    }
  }
}

.simple-picker-icon {
  display: inline-block;
  padding: 3px;
  border: solid rgba(0, 0, 0, 0.5);
  border-width: 0 3px 3px 0;
  &:hover {
    border-color: $black;
  }
}
