$white:       #FFFFFF;
$white-smoke: #F5F5F5;
$light-gray:  #DDDDDD;
$devil-gray:  #666666;
$dark-gray:   #222222;
$black:       #000000;
$simple-green:  #96c93d;
$simple-blue:   #2985ff;
$error-red:   #CC0000;


.simple-picker-nav-btn {
  position: absolute;
  top: 0;
  padding: 14px 11px;
  z-index: 5;
  &.simple-picker-nav-btn-left {
    left: 0;
  }
  &.simple-picker-nav-btn-right {
    right: 0;
  }
  &:hover {
    cursor: pointer;
    .simple-picker-icon {
      border-color: $white;
    }
  }
}

.simple-picker-icon {
  display: inline-block;
  padding: 3px;
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 0 3px 3px 0;
  &:hover {
    border-color: $white;
  }
  &.simple-picker-arrow-right {
    -webkit-transform: scale(0.9, 0.9) rotate(-45deg);
    transform: scale(0.9, 0.9) rotate(-45deg);
  }
  &.simple-picker-arrow-left {
    -webkit-transform: scale(0.9, 0.9) rotate(135deg);
    transform: scale(0.9, 0.9) rotate(135deg);
  }

}

.simple-picker-action {
  cursor: pointer;
  padding: 3px 5px;
  line-height: 1;
  display: inline-block;
  &:hover {
    background-color: #555;
  }
}

/***********/

.clear-fix {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

.simple-picker {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  position: fixed;
  z-index: 100;
  font-family: "Museo";
  font-size: 12px;
  width: 250px;
  height: auto;
  background-color: $white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.simple-picker-input {
  padding: 8px;
  width: 100%;
  cursor: pointer;
  max-width: 250px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'><path fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/></svg>") right 8px center/8px 8px no-repeat,
              url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z'/%3E%3C/svg%3E") 10px center/16px 16px no-repeat;
  background-color: $white;
  border: 1px solid #ddd;
  transition: all .3s ease;
  &:hover {
    box-shadow: 0px 1px 3px rgba(0,0,0,.1);
    background-color: #ddd;
    border-color: #aaa;
  }
  &:focus {
      outline: none;
  }
  &:active {
    background-color: #ccc;
  }
}

.simple-picker-header {
  position: relative;
  color: $white;
  border: 1px solid $dark-gray;
  background: $dark-gray;
}

.simple-picker-date {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}

.simple-picker-day-names {
  padding: 5px 0 10px;
}

.simple-picker-day-name {
  float: left;
  width: calc(100% / 7);
  text-align: center;
  color: $light-gray;
}

.simple-picker-body {
  border: 1px solid $light-gray;
  border-top: none;
}

.simple-picker-day-box {
  font-family: "Source Sans Pro", sans-serif;
  float: left;
  width: calc(100% / 7);
  padding: 6px 0;
  cursor: pointer;
  text-align: center;
  color: $devil-gray;
  background-color: $white-smoke;
  &.simple-picker-highlighted {
    color: $black;
    background-color: $simple-green;
  }
  &.simple-picker-selected {
    color: $white;
    background-color: $simple-blue;
  }
  &.simple-picker-empty {
    text-indent: -999999px;
    background-color: $white;
    &:hover {
      cursor: default;
      background-color: $white;
    }
  }
  &:hover {
    color: $white;
    background-color: $devil-gray;
  }
}


