$white:       #FFFFFF;
$white-smoke: #F5F5F5;
$light-gray:  #DDDDDD;
$devil-gray:  #666666;
$dark-gray:   #222222;
$black:       #000000;
$pogo-green:  #96c93d;
$pogo-blue:   #2985ff;
$error-red:   #CC0000;
